<template>
	<div class="card">
		<div class="card-content">
			<span class="card-title">
				Who's Online?
			</span>
		</div>
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width">
				<li class="tab"><a href="#atc_online">Controllers</a></li>
				<li class="tab"><a href="#pilots_online">Departures/Arrivals</a></li>
			</ul>
		</div>
		<div id="atc_online">
			<div v-if=atcOnline>
				<div v-if=atcOnline.length>
					<atc-online-item v-for="(atc, k) in atcOnline" :key=k :controller="atc"></atc-online-item>
				</div>
				<div v-else>
					<h4>No Controllers Currently Online.</h4>
				</div>
			</div>
			<h6 class="as_of">As Of: {{atcUpdateTime}}</h6>
		</div>
		<div id="pilots_online">
			<div v-if=pilotsOnline>
				<div v-if=pilotsOnline>
					<pilot-online-item v-for="(pilot, k) in pilotsOnline" :key=k :pilot="pilot"></pilot-online-item>
				</div>
				<div v-else>
					<h4>No Departures/Arrivals Found.</h4>
				</div>
			</div>
			<h6 class="as_of">As Of: {{pilotUpdateTime}}</h6>
		</div>
	</div>
</template>

<script>
import axios from '/helpers/axios.js';
import { DateTime } from 'luxon';

import AtcOnlineItem from './AtcOnlineItem.vue';
import PilotOnlineItem from './PilotOnlineItem.vue';

export default {
	name: 'WhosOnline',
	components: {
		AtcOnlineItem,
		PilotOnlineItem
	},
	data () {
		return {
			pilotsOnline: null,
			pilotUpdateTime: 0,
			atcOnline: null,
			atcUpdateTime: 0,
			ratings: null
		};
	},
	methods: {
		getPilotsOnline () {
			axios.get('/ajax/pilotonline').then(({ data }) => {
				this.pilotsOnline = data;
				this.pilotUpdateTime = DateTime.utc().toFormat("MMM dd, HH:mm'z'");
				setTimeout(this.getPilotsOnline, 120000);
			});
		},
		getAtcOnline () {
			axios.get('/ajax/atconline').then(({ data }) => {
				this.atcOnline = data;
				this.atcUpdateTime = DateTime.utc().toFormat("MMM dd, HH:mm'z'");
				setTimeout(this.getAtcOnline, 120000);
			});
		},
	},
	mounted() {
		this.getAtcOnline();
		this.getPilotsOnline();
		this.$nextTick(() => {
			M.Tabs.init(document.querySelectorAll('.tabs'));
		})
	}
}
</script>