<div class="card">
	<div class="card-content">
		<span class="card-title">Controller Roster</span>
	</div>
	<div class="controller_list">
		<div class="controller_list_head controller_list_flex">
			<div class="name">Name</div>
			<div class="cid">Controller ID</div>
			<div class="rating">Rating</div>
			<div class="oi">Operating Initials</div>
		</div>
		{{#each controllers}}
			<div class="controller_list_row controller_list_flex">
				<div class="name">
					<a href="/controllers/{{cid}}">
						{{fname}} {{lname}}
					</a>
				</div>
				<div class="cid">{{cid}}</div>
				<div class="rating">{{lookup ../ratings rating}}</div>
				<div class="oi">{{oi}}</div>
				{{#if certifications.length}}
					<div class="certs" v-if=controller.certifications.length>
						{{#each certifications}}
						<span class="cert cert_{{class}}">
							{{name}}
						</span>
						{{/each}}
					</div>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>