{{#if controller}}
	<div class="card">
		<div class="card-content">
			{{#if controller.roles.length}}
				<div class="roles right">
					{{#each controller.roles}}
						<span class="cert cert_{{class}}">{{name}}</span>
					{{/each}}
				</div>
			{{/if}}
			<span class="card-title">
				<strong>{{controller.fname}} {{controller.lname}}</strong> ({{controller.oi}})<br />
				<strong>{{lookup ratingsLong controller.rating}}</strong> - {{controller.cid}}
			</span>
			<div class="card horizontal img_bio">
				<div class="card-image">
					<img src="/assets/images/blank.png" alt="">
				</div>
				<div class="card-content">
					{{#if controller.certifications.length}}
						<div class="profile_certs">
							{{#each controller.certifications}}
								<span class="cert cert_{{class}}">{{name}}</span>
							{{/each}}
						</div>
					{{/if}}
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio debitis dolorum. Temporibus ex velit ipsum iure, amet esse sint nesciunt nemo mollitia aliquid dolor at ad cupiditate quidem qui!</p>
				</div>
			</div>
			{{!-- {{> sessionTable}} --}}
			{{!-- <SessionTable :cid="controller.cid" /> --}}
		</div>
	</div>
{{else}}
	<div class="card" v-else>
		<div class="card-content">
			<span class="card-title">Controller Not Found!</span>
			<p>
				Sorry, that controller doesn't appear to exist.
			</p>
		</div>
	</div>
{{/if}}