.controller_list_head {
	position: relative;
	font-weight: 700;
	border-bottom: 1px solid $gray_medium;
}

.controller_list_flex {
	display: flex;
	align-items: center;
	div {
		padding: 0 1rem 0.5rem;
		flex: 1;

		&.name {
			flex: 2;
		}
	}
}

.controller_list_row {
	flex-wrap: wrap;

	div {
		padding: 0.5rem 1rem;
	}

	&:nth-of-type(2n-1) {
		background: $gray-light
	}

	&:hover {
		background: $gray-mild;
	}

	.name a {
		font-weight: 700;
	}

	.certs {
		flex-basis: 100%;
		padding-top: 0;
	}
}

.cert + .cert {
	margin-left: 5px;
}

.img_bio {
	margin-top: 20px;
}
.img_bio .certs {
	margin-bottom: 15px;
}