@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
	font-family: "Lato", sans-serif;
	// font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	main {
		flex: 1 0 auto;
		margin: 15px 0;

		&#admin {
			margin: 0;
		}
	}
}


.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}