#header_hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 3840px;
	margin: 0 auto;

	&.hero1 {
		background-image: url('/assets/images/hero/grand_canyon.jpg');
	}

	&.hero2 {
		background-image: url('/assets/images/hero/camelback.jpg');
	}

	&.hero3 {
		background-image: url('/assets/images/hero/saguaro.jpg');
	}

	&.hero4 {
		background-image: url('/assets/images/hero/abq.jpg');
	}

	&.hero5 {
		background-image: url('/assets/images/hero/cactus.jpg');
	}

	.wrapper {
		padding: 20px;
		display: flex;
		align-items: center;

		a {
			display: block;

			img {
				height: 175px;
			}
		}

		h1 {
			font-weight: 600;
			margin-left: 60px;
			color: $primary-color;
			padding: 0 15px;
			text-shadow: 2px 2px 1px #fff;
			background: rgba(#fff,0.75);

			span {
				display: block;
				margin-left: 45%;
				font-size: 3.6rem;
				font-weight: 400;
			}
		}
	}
}

@media screen and (max-width: 910px) {
	#header_hero .wrapper {
		padding: 15px;
		flex-direction: column;

		a img {
			height: 100px;
		}

		h1 {
			font-size: 32px;
			margin: 20px 0 0 0;

			span {
				font-size: 24px;
			}
		}
	}
}