.badge {
	display: inline-block;
}
#atc_online, #pilots_online {
	h4 {
		padding: 15px 10px;
		font-size: 1.25em;
		margin: 0;
	}
}
#atc_online {
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		position: relative;

		&:nth-of-type(2n) {
			background: $gray-light
		}

		&:hover {
			background: $gray-mild;
		}
	}

	strong {
		font-weight: 700;
	}
}

#pilots_online {
	.pilot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		position: relative;

		&:nth-of-type(2n) {
			background: $gray-light
		}

		&:hover {
			background: $gray-mild;

			.flight_info {
				opacity: 1;
			}
		}
	}

	.pilot_details {
		color: $gray-medium;

		strong {
			font-size: 1.5em;
			color: $gray-dark;
			font-weight: 700;
			display: block;
		}
	}

	.flight_info {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		top: calc(100% + 10px);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s;
		width: calc(100% - 10px);
		z-index: 500;
		background: #fff;
		box-shadow: 0px 0px 10px 0px rgba(#000, 0.5);

		&::before {
			left: 50%;
			transform: translateX(-50%);
			content: "";
			pointer-events: none;
			display: inline-block;
			position: absolute;
			bottom: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #122049 transparent;
		}

		h6 {
			background: $primary-color;
			padding: 10px;
			color: #fff;
			font-weight: 300;
			margin: 0;
		}

		p {
			padding: 10px;
			margin: 0;

			&.route {
				font-weight: 700;
			}
		}
	}

	.remarks {
		position: relative;
		&::before {
			height: 1px;
			width: calc(100% - 20px);
			background: #999;
			content: "";
			position: absolute;
			top: 0px;
		}
	}
}

.as_of {
	padding: 10px;
	margin-top: 0;
	font-size: 12px;
	color: $secondary-color-dark;
}

#discord_widget {
	min-height: 500px;
}