@import 'variables';
@import 'global';
@import 'materialize/materialize';
@import 'header';
@import 'sidebar';
@import 'static';
@import 'user';
@import 'controller';


.cert {
	display: inline-block;
	padding: 0.25rem 0.4rem;
	&.cert_center {
		background: $secondary-color-dark;
	}
	
	&.cert_major {
		background: $secondary-color;
	}

	&.cert_minor {
		background: $secondary-color-light;
	}

	&.cert_senior {
		color: #fff;
		background: $accent-color;
	}

	&.cert_junior {
		color: #fff;
		background: $accent-color-light;
	}

	&.cert_training {
		color: #fff;
		background: $primary-color-light
	}
}

#admin {
	position: relative;
	.col {
		padding: 0;
	}

	.admin_sidebar {
		position: absolute;
		top: 0;
		width: 16.66667%;
		left: 0;
		height: 100%;
		overflow: auto;
		background: #333;

		ul {
			margin: 0;
			li {

				a, span {
					display: block;
					padding: 0.75rem;
					color: #fff;
				}

				a:hover {
					background: $accent-color;
				}

				&.sep {
					background: $primary-color;

					span {
						font-size: 1.125rem;
						font-weight: 700;
					}
				}
			}
		} 
	}

	.main_content {
		padding: 1.5rem;
	}
}