<header>
    <div id="header_hero" class="hero1 w-full">
        <div class="wrapper">
            <a href="/">
                <img src="/assets/images/icons/zab_icon_new.png" alt="">
            </a>
            <div>
                <h1>ALBUQUERQUE<span>ARTCC</span></h1>
            </div>
        </div>
    </div>

    <nav>
        <div class="nav-wrapper wrapper">
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li class="has_dropdown" data-state="hide">
                    <a class="dropdown-left" href="#!" data-target="controllers-dropdown">CONTROLLERS</a>
                    <ul id="controllers-dropdown" class="dropdown-content">
                        <li>
                            <a href="/controllers">Controller Roster</a>
                        </li>
                        <li>
                            <a href="/controllers/files">Controller Downloads</a>
                        </li>
                        <li>
                            <a href="/controllers/staff">ARTCC Staff</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/events">EVENTS</a>
                </li>
                <li>
                    <a href="/news">NEWS</a>
                </li>
                <li>
                    <a href="/feedback">FEEDBACK</a>
                </li>
                <li>
                    <a href="https://community.zabartcc.org">FORUMS</a>
                </li>
            </ul>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right left-on-med-and-down">
                <li>
                    {{#if user}}
                        <a class="dropdown-right" href="#!" data-target="user-dropdown">Logged In As: {{user.lname}}, {{user.fname}}</a>
                        <ul id="user-dropdown" class="dropdown-content">
                            <li>
                                <a href="/dashboard">Controller Dashboard</a>
                            </li>
							{{#if user.isStaff}}
								<li class="divider"></li>
								<li>
									<a href="http://sunport.zabartcc.org/mail" target="_blank" rel="noopener noreferrer">Webmail</a>
								</li>
								{{#if user.isIns}}
									<li v-if='user.isIns'>
										<a href='/ins'>Instructor Dashboard</a>
									</li>
								{{/if}}
								{{#if user.isMgt}}
									<li v-if='user.isMgt'>
										<a href='/admin'>Admin Dashboard</a>
									</li>
								{{/if}}
							{{/if}}
                            <li class="divider"></li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    {{else}}
                        <a href="https://login.vatusa.net/uls/v2/login?fac=ZAB&url=2">Login</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-menu">
        <li>
            <a class="sidenav-close" href="/">HOME</a>
        </li>
        <li>
            <a class="sidenav-close" href="/controllers">CONTROLLER ROSTER</a>
        </li>
        <li>
            <a class="sidenav-close" href="/controllers/files">CONTROLLER DOWNLOADS</a>
        </li>
        <li>
            <a class="sidenav-close" href="/controllers/staff">ARTCC STAFF</a>
        </li>
        <li>
            <a class="sidenav-close" href="/events">EVENTS</a>
        </li>
        <li>
            <a class="sidenav-close" href="/news">NEWS</a>
        </li>
        <li>
            <a class="sidenav-close" href="/feedback">FEEDBACK</a>
        </li>
        <li>
            <a class="sidenav-close" href="https://community.zabartcc.org">FORUMS</a>
        </li>
    </ul>

</header>