{{#if sessions}}
	<div v-if=sessions>
		<div class="hours_row">
			<span></span>
			<span class="font-bold">DEL</span>
			<span class="font-bold">GND</span>
			<span class="font-bold">TWR</span>
			<span class="font-bold">APP</span>
			<span class="font-bold">CTR</span>
			<span class="font-bold border_left">Total</span>
		</div>
		<div class="hours_row" v-for="month in months" :key="month">
			<span>{{m(month).format('MMM YYYY')}}</span>
			<span>{{sec2hms(sessions[m(month).format('YYYYMM')].del)}}</span>
			<span>{{sec2hms(sessions[m(month).format('YYYYMM')].gnd)}}</span>
			<span>{{sec2hms(sessions[m(month).format('YYYYMM')].twr)}}</span>
			<span>{{sec2hms(sessions[m(month).format('YYYYMM')].app)}}</span>
			<span>{{sec2hms(sessions[m(month).format('YYYYMM')].ctr)}}</span>
			<span class="border_left">{{sec2hms(sessions[m(month).format('YYYYMM')].total) || '00:00'}}</span>
		</div>
		<div class="hours_row">
			<span class="bold">>1 Year</span>
			<span>{{sec2hms(sessions.gtyear.del)}}</span>
			<span>{{sec2hms(sessions.gtyear.gnd)}}</span>
			<span>{{sec2hms(sessions.gtyear.twr)}}</span>
			<span>{{sec2hms(sessions.gtyear.app)}}</span>
			<span>{{sec2hms(sessions.gtyear.ctr)}}</span>
			<span class="border_left">{{sec2hms(sessions.gtyear.total) || '00:00'}}</span>
		</div>
		<div class="hours_row border_top">
			<span class="bold">Total</span>
			<span>{{sec2hms(sessions.total.del) || '00:00'}}</span>
			<span>{{sec2hms(sessions.total.gnd) || '00:00'}}</span>
			<span>{{sec2hms(sessions.total.twr) || '00:00'}}</span>
			<span>{{sec2hms(sessions.total.app) || '00:00'}}</span>
			<span>{{sec2hms(sessions.total.ctr) || '00:00'}}</span>
			<span class="border_left">{{sec2hms(sessions.total.total) || '00:00'}}</span>
		</div>
		<div class="summary">
			<div>
				<strong>Total Sessions:</strong> {{sessions.sessionCount}}
			</div>
			<div>
				<strong>Average Session Time:</strong> {{sec2hms(sessions.sessionAvg)}}
			</div>
		</div>
	</div>
{{/if}}