<whos-online></whos-online>

<div class="card">
	<iframe id="discord_widget" src="https://discordapp.com/widget?id=506652179743113236&theme=dark" width="100%" allowtransparency="true" frameborder="0"></iframe>
</div>