<div class="card home_intro">
	<div class="card-content">
		<span class="card-title">Welcome to Albuquerque ARTCC</span>
		<p>
			Hello, and welcome to the Albuquerque ARTCC. We are a group of aviation enthusiasts providing simulated ATC services, operating on the VATSIM network, the VATNA region and the VATUSA division. The Albuquerque ARTCC covers most of Arizona and New Mexico as well as parts of Texas, Colorado and Oklahoma.
		</p>
		<hello-world></hello-world>
	</div>
</div>
<div class="card" id="map" style="height: 500px;">
</div>

{{!-- <link rel="stylesheet" href="./assets/css/leaflet.css" />
<script src="./assets/js/leaflet.js"></script>
<script src="./assets/js/leaflet.rotatedMarker.js"></script> --}}

{{!-- <script>
    window.onload = function() {

        var map = L.map('map').setView([32.5, -111.1], 10);

        var boundary = [
            [37.041667, -102.183333],
            [36.5, -101.75],
            [36.397222, -101.472222],
            [36.275, -101.133333],
            [35.9125, -100.211667],
            [35.829167, -100],
            [35.678611, -100],
            [35.333333, -100],
            [35.129167, -100.141667],
            [34.866667, -100.316667],
            [34.466667, -100.75],
            [34.491667, -101],
            [34.55, -101.541667],
            [34.6, -102],
            [34.55, -102.325],
            [34.388889, -102.6625],
            [34.316667, -102.8],
            [33.775, -103.366667],
            [33.6375, -103.4875],
            [33.402778, -103.691667],
            [33.383333, -103.8],
            [33.05, -103.8],
            [33, -103.8],
            [32.845833, -103.840278],
            [32.466667, -103.933333],
            [32.033333, -103.8],
            [31.808333, -103.529167],
            [31.65, -103.333333],
            [31.583333, -103.116667],
            [31.425, -102.216667],
            [31.283333, -102.15],
            [29.733611, -102.675556],
            [29.5225, -102.800556],
            [29.400278, -102.817222],
            [29.350278, -102.883889],
            [29.266944, -102.900556],
            [29.2225, -102.867222],
            [29.166944, -103.000556],
            [28.950278, -103.150556],
            [28.991944, -103.283889],
            [29.016944, -103.383889],
            [29.066944, -103.450556],
            [29.150278, -103.550556],
            [29.183611, -103.683889],
            [29.185278, -103.708889],
            [29.266944, -103.783889],
            [29.316944, -104.000556],
            [29.400278, -104.150556],
            [29.483611, -104.217222],
            [29.533611, -104.350556],
            [29.648333, -104.517778],
            [29.758611, -104.567222],
            [30.000278, -104.700556],
            [30.150278, -104.683889],
            [30.266667, -104.75],
            [30.366944, -104.833889],
            [30.550278, -104.900556],
            [30.600278, -104.967222],
            [30.683611, -104.983889],
            [30.683611, -105.050556],
            [30.787778, -105.200556],
            [30.833333, -105.317222],
            [31, -105.550556],
            [31.1, -105.650556],
            [31.166667, -105.783889],
            [31.283333, -105.883889],
            [31.341667, -105.951667],
            [31.383333, -106.000556],
            [31.466667, -106.200556],
            [31.666667, -106.333333],
            [31.733333, -106.383889],
            [31.75, -106.500556],
            [31.783333, -106.533889],
            [31.784335, -106.571657],
            [31.788324, -106.71252],
            [31.78947, -106.774294],
            [31.804254, -107.528889],
            [31.816667, -108.2],
            [31.333333, -108.2],
            [31.333333, -108.5],
            [31.333333, -109.352778],
            [31.333333, -110.75],
            [31.333307, -111.05],
            [31.333303, -111.100039],
            [31.368044, -111.186097],
            [31.516667, -111.641667],
            [31.633333, -112],
            [31.973719, -113.092358],
            [32.1, -113.508333],
            [32.7375, -113.684722],
            [32.683333, -114],
            [32.866667, -114],
            [33.083333, -114],
            [33.4, -114],
            [34.666667, -114],
            [34.916667, -113.616667],
            [35.379722, -112.666667],
            [35.417778, -112.153056],
            [35.438056, -112],
            [35.766667, -111.841667],
            [35.7, -110.233333],
            [35.85, -109.316667],
            [36.033333, -108.216667],
            [36.2, -107.466667],
            [36.626944, -106.35],
            [36.716667, -106.083333],
            [36.716667, -105.341667],
            [36.716667, -105],
            [37.045278, -104],
            [37.1625, -103.619444],
            [37.5, -102.55],
        ];

        var icon = L.icon({
            iconUrl: './assets/images/icons/white-plane.svg',
            iconSize: [20,20]
        });

		var nexrad = L.tileLayer.wms("https://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi", {
			layers: 'nexrad-n0r-900913',
			format: 'image/png',
			transparent: true,
			opacity: 0.33,
			zIndex: 999,
		}).addTo(map);
        var onMap = 0;

		var flights = {{{flightsJson}}};
        flights.forEach(flight => {
            var marker = L.marker([flight.lat, flight.lng], {
                icon: icon,
            }).addTo(map);
            marker.setRotationAngle(flight.heading - 90);
            marker.setRotationOrigin("center center");
            marker.bindTooltip(flight.callsign, { offset: [10, 0] });
        });

        var artccBoundary = L.polygon(boundary, {color: 'white', fillOpacity: 0.1}).addTo(map).on('click', function () {
            map.flyToBounds(this.getBounds());
        });

        L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {
        // L.tileLayer(' 	https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>'
        }).addTo(map);

        map.fitBounds(artccBoundary.getBounds());
    }
</script> --}}
