<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/dist/styles.css">
	<script src="/assets/dist/scripts.js" defer></script>
    <title>Albuquerque ARTCC</title>
</head>
<body>
    <div id="container">
        {{> header}}
		<main>
			<div class="row main-content wrapper">
				<div class="sidebar col s12 l4">
					{{> sidebar}}
				</div>
				<div class="main_content col s12 l8">
					{{{body}}}
				</div>
			</div>
		</main>
    </div>
</body>
</html>